body {
   margin: 0;
   overflow-x: hidden;
   font-family: var(--body-font);
   background-color: var(--white-color);
   font-weight: 500;
   color: var(--text-color);
   direction: ltr;
   scroll-behavior: smooth;
}

.selected-option img,
.options li img {
   margin-right: 5px;
}

.accordion-button::after {
   margin-right: 0;
   margin-left: auto;
}

.arabic_header .arabic_header_menus .arabic_swicher_button .dropdown button img {
   margin-right: 4px;
   margin-left: 0px;
}